<fieldset class="form-list">
  <?php $_code=$this->getMethodCode() ?>
</fieldset>

<div id="payment_parent_form_aplazame">
  <div id="payment_form_<?php echo $_code ?>" style="display:none;">
      <p class="aplazame_title" style="padding-left: 20px; padding-top: 8px; ">
        <li class="form-alt">
          <div style="color:#6f6f6f; font-size:14px;" >
            Aplaza o fracciona tu compra con <a href="https://aplazame.com" target="_blank">Aplazame</a>.<br>
            Obtén financiación al instante sólo con tu Nombre y Apellidos, DNI/NIE, Teléfono y tarjeta de débito o crédito.<br>
            Sin comisiones ocultas ni letra pequeña y en sólo cuatro pasos.<br>
          </div>
        </li>
      </p>
  </div>
</div>

<script>

var aplazame={version:"<?php echo Mage::getStoreConfig('payment/aplazame/version') ?>",url:"<?php echo trim(Mage::getStoreConfig('payment/aplazame/api_url'), '/') ?>/checkout/button",dch:function(c,a){var b=document.getElementById(a.id);if(!b)return null;a.parentNode&&(b=b.parentNode);b.style.display=c;"undefined"!=typeof a.descriptionId&&(document.getElementById(a.descriptionId).style.display=c);return b},cdp:function(c,a){var b=this;this.dch(c,a)||document.addEventListener("DOMContentLoaded",function(){b.dch(c,a)})},button:function(c){this.cdp("none",c);var a=new XMLHttpRequest,b=this.url+"?amount="+c.amount+"&currency="+c.currency;if("withCredentials"in a)a.open("GET",b,!0);else if("undefined"!=typeof XDomainRequest)a=new XDomainRequest,a.open("GET",b);else return;a.setRequestHeader("Accept","application/vnd.aplazame"+(c.sandbox?".sandbox-":"-")+this.version+"+json");a.setRequestHeader("Authorization","Bearer "+c.token);a.withCredentials=!0;var d=this;a.onload=function(){if(200==a.status)d.cdp("block",c);else{var b=document.getElementById(c.id);b&&("input"!=!b.tagName.toLowerCase()&&(b=b.getElementsByTagName("input")[0]),b.checked&&(b.checked=!1))}};a.send()}};

aplazame.button({
  id: "p_method_aplazame",
  descriptionId: "payment_parent_form_aplazame",
  parentNode: true,
  token: "<?php echo Mage::getStoreConfig('payment/aplazame/public_api_key') ?>",
  amount: <?php echo $this->getTotal() ?>,
  currency: "EUR",
  sandbox: <?php echo Mage::getStoreConfig('payment/aplazame/sandbox')?'true':'false' ?>
});

</script>
