<html>
    <body style="margin: 0;">
        <script type="text/javascript" src="<?php echo trim(Mage::getStoreConfig('payment/aplazame/api_url'), "/") . '/static/v1/js/aplazame.js' . (Mage::getStoreConfig('payment/aplazame/sandbox')?'?sandbox=1':'') ?>"></script>
        <script>
            aplazame.checkout(<?php echo json_encode($payment->getCheckoutSerializer(), JSON_PRETTY_PRINT) ?>);
        </script>

        <iframe src="<?php echo Mage::getUrl('', array('_secure'=>true)) ?>" style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden;">
            Your browser doesnt support IFrames
        </iframe>
    </body>
</html>
