<?xml version="1.0"?>
<config>
    <modules>
        <Aplazame_Aplazame>
            <version>3.1.0</version>
        </Aplazame_Aplazame>
    </modules>
    <global>
        <models>
            <aplazame>
                <class>Aplazame_Aplazame_Model</class>
            </aplazame>
        </models>
        <blocks>
            <aplazame>
                <class>Aplazame_Aplazame_Block</class>
            </aplazame>
            <checkout>
                <rewrite>
                    <onepage_billing>Aplazame_Aplazame_Block_Checkout_Onepage_Billing</onepage_billing>
                    <onepage_shipping>Aplazame_Aplazame_Block_Checkout_Onepage_Shipping</onepage_shipping>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <aplazame>
                <class>Aplazame_Aplazame_Helper</class>
            </aplazame>
        </helpers>
        <resources>
            <aplazame_setup>
                <setup>
                    <module>Aplazame_Aplazame</module>
                </setup>
            </aplazame_setup>
        </resources>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Aplazame_Aplazame after="Mage_Adminhtml">Aplazame_Aplazame_AdminHtml</Aplazame_Aplazame>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <aplazame>
                    <file>aplazame.xml</file>
                </aplazame>
            </updates>
        </layout>
        <translate>
            <modules>
                <Aplazame_Aplazame>
                    <files>
                        <default>Aplazame_Aplazame.csv</default>
                    </files>
                </Aplazame_Aplazame>
            </modules>
        </translate>
        <events>
            <sales_order_payment_refund>
                <observers>
                    <Aplazame>
                        <type>singleton</type>
                        <class>aplazame/observer</class>
                        <method>salesOrderPaymentRefund</method>
                    </Aplazame>
                </observers>
            </sales_order_payment_refund>
            <sales_order_shipment_save_before>
                <observers>
                    <testAction>
                        <type>singleton</type>
                        <class>aplazame/shipmentObserver</class>
                        <method>captureOrder</method>
                    </testAction>
                </observers>
            </sales_order_shipment_save_before>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <campaignsMassActions>
                        <type>singleton</type>
                        <class>aplazame/campaignsObserver</class>
                        <method>campaignsMassActions</method>
                    </campaignsMassActions>
                    <productCampaigns>
                        <type>singleton</type>
                        <class>aplazame/campaignsObserver</class>
                        <method>productCampaigns</method>
                    </productCampaigns>
                </observers>
            </core_block_abstract_prepare_layout_after>
        </events>
    </adminhtml>

    <frontend>
        <routers>
            <aplazame>
                <use>standard</use>
                <args>
                    <module>Aplazame_Aplazame</module>
                    <frontName>aplazame</frontName>
                </args>
            </aplazame>
        </routers>

        <layout>
            <updates>
                <aplazame>
                    <file>aplazame.xml</file>
                </aplazame>
            </updates>
        </layout>
    </frontend>
    <default>
        <payment>
            <aplazame>
                <active>0</active>
                <sandbox>0</sandbox>
                <model>aplazame/payment</model>
                <payment_action>authorize</payment_action>
                <title>Aplazame</title>
                <secret_api_key backend_model="aplazame/config_privatekey"/>
                <widget_legacy_enabled>1</widget_legacy_enabled>
                <product_widget_enabled>1</product_widget_enabled>
                <product_legal_advice>0</product_legal_advice>
                <product_default_instalments> </product_default_instalments>
                <product_widget_primary_color>334BFF</product_widget_primary_color>
                <product_widget_layout>horizontal</product_widget_layout>
                <cart_widget_enabled>1</cart_widget_enabled>
                <cart_legal_advice>0</cart_legal_advice>
                <cart_default_instalments> </cart_default_instalments>
                <cart_widget_primary_color>334BFF</cart_widget_primary_color>
                <cart_widget_layout>horizontal</cart_widget_layout>
                <button>dt:has(input#p_method_aplazame)</button>
                <instructions>
                    <![CDATA[Compra primero y paga después con <a href="https://aplazame.com" target="_blank">Aplazame</a>.]]></instructions>
                <refund_method_magento_native>1</refund_method_magento_native>
            </aplazame>
        </payment>
    </default>

</config>
