name: Test Sonarqube and Composer

on:
  workflow_dispatch:
  push:
    branches:
      - '**'
env:
  FOLDER: "dist"
  foldersCache: "vendor/"
  AWS_REGION: 'eu-central-1'
  AWS_ACCOUNT: '666356151544'

permissions:
  contents: read
  id-token: write

jobs:
  test-sonarqube:
    name: Test SonarQube Scan
    uses: ./.github/workflows/test-reusable-sonarqube.yml
    secrets: 
      SONAR_TOKEN: ${{ secrets.WZ_SONAR_TOKEN }}

  test-composer:
    name: Test Composer Install
    needs: test-sonarqube
    runs-on: ${{ vars.AWS_RG_NAME_PRO }}
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with:
            fetch-depth: 0   

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '5.6'
          extensions: mbstring, intl, xml, curl, zip, json
          tools: composer:v2
    
      - name: Install AWS CLI
        uses: wz-aplazame/.github/.github/composite/aws@master
      
      - name: Configure aws credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708  #v5.1.1
        with:
          role-to-assume: ${{ vars.AWS_OIDC_ROLE_TF_PRO }}
          role-session-name: ${{ github.run_id }}
          aws-region: ${{ vars.WZ_OIDC_AWS_REGION }}

      - name: Get cache
        env:
          s3Path: s3://aplazameshared-jenkins-cache/Aplazame-Public/magento/v1-dependencies-${{ github.sha }}.tar.gz
        run: |
          set -e
            aws s3 cp --quiet ${s3Path} cache.tar.gz --profile AplazameSharedServices || exit 0
            [ -f cache.tar.gz ] && tar -xf cache.tar.gz
            aws s3 cp --quiet ${s3Path} cache.tar.gz --profile AplazameSharedServices

      - name: Composer Install
        run: composer install --prefer-dist

      - name: Upload Cache
        env:
          s3Path: s3://aplazameshared-jenkins-cache/Aplazame-Public/magento/v1-dependencies-${{ github.sha }}.tar.gz
        run: |
          set -e
            MATCHES=$(aws s3 ls ${s3Path} --profile AplazameSharedServices| wc -l)
            [ "$MATCHES" = "0" ] && [ ! -f cache.tar.gz ] && tar -czf cache.tar.gz ${foldersCache} && aws s3 cp --quiet cache.tar.gz ${s3Path} --profile AplazameSharedServices
            exit 0

      - name: Make Styleci happy
        run: make style