name: Test Sonarqube and Composer

on:
  workflow_dispatch:
  push:
    branches:
      - '**'
env:
  FOLDER: "dist"
  foldersCache: "vendor/"

permissions:
  contents: read
  id-token: write

jobs:

  test-sonarqube:
    name: Test SonarQube Scan
    uses: ./.github/workflows/test-reusable-sonarqube.yml
    secrets: 
      SONAR_TOKEN: ${{ secrets.WZ_SONAR_TOKEN }}

  test-composer:
    name: Test Composer Install
    runs-on: ${{ (github.event_name == 'push' && github.ref == 'refs/heads/pro' ||
          github.event_name == 'pull_request' && github.event.pull_request.base.ref == 'pro')
          && vars.AWS_RG_NAME_PRO || vars.AWS_RG_NAME_NONPRO }}
    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
      with:
        fetch-depth: 0

    - name: Set up PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '5.6'
        extensions: mbstring, intl, xml, curl, zip, json
        tools: composer:v2
    
    - name: Get cache
      env:
        s3Path: s3://aplazameshared-jenkins-cache/Aplazame-Public/magento/v1-dependencies-${{ github.sha }}.tar.gz
      run: |
        set -e
        aws s3 cp --quiet ${s3Path} cache.tar.gz || exit 0
        [ -f cache.tar.gz ] && tar -xf cache.tar.gz
        aws s3 cp --quiet s3://aplazameshared-jenkins-cache/Aplazame-Public/magento/v1-dependencies-${{ github.sha }}.tar.gz cache.tar.gz

    - name: Composer Install
      run: composer install --prefer-dist

    - name: Make Styleci happy
      run: make style

    - name: Cache Composer dependencies
      env:
        foldersStr: '.'
        s3Path: s3://aplazameshared-jenkins-cache/Aplazame-Public/magento/v1-dependencies-${{ github.sha }}.tar.gz
      run: |
        set -e
        MATCHES=$(aws s3 ls ${s3Path} | wc -l)
        [ "$MATCHES" = "0" ] && [ ! -f cache.tar.gz ] && tar -czf cache.tar.gz ${foldersStr} && aws s3 cp --quiet cache.tar.gz ${s3Path}
        exit 0

        